{% extends "_layout.html" %}

{% block title %}{{ _('blue blade') }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ assets.css('index.css') }}">
{% endblock %}

{% block footer %}
    {{ loadEntryJS('index') }}
    <script type="text/javascript">
      window.appEntry.index({{ users|safe }});
    </script>
{% endblock %}

{% block content %}
    <p>
        I18n: {{ _('blue blade') }}
    </p>
    Render by JS
    <div id="app"></div>

    <div class="index server">
        <span>Render by Jinja</span>
        <img class="logo" src="{{ assets.image('logo.png') }}" alt="logo">
        <p>
            {% for user in users %}
                {{ user.name }}
            {% endfor %}
        </p>
    </div>
{% endblock %}